# dependencies
node_modules/
client/node_modules/
server/node_modules/

# builds
client/dist/
server/dist/

# env
.env
client/.env
server/.env

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# misc
coverage/
.cache/